
#img2 {
    content: url("../../../public/mobile.jpg");
    margin-left: 9%;
    margin-top: -3%;
    height: 400px;
    width:570px;
}

.gallery2 {
    display: flex;
    align-items: center;
}

#p2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-left: 5%;
}

.h1.text-white.abc {
    font-size: 3.5em; /* Adjust the font size as needed */
}
.gallery2child img {
    margin-top: 8%;
    margin-right: 50%;
   
}