.netflix_header{
    background-color: rgba(0,0,0,0.5);
    padding: 30px 170px;
}
img{
    content: url('../../public/Netflix_logo.jpg');
    position: absolute;
    top: 10px;
    filter:saturate(180%);
}
.signin-btn{
    height: 40px;
    border-radius: 4px;
    padding: 0px 15px;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
