.netflix_index{
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap:10px
}
.welcome{
    background-image: url("../public/Netflix_bg.jpg");
    background-size: 120%;
    background-position: center;
    height: 700px;
}
header,main,section,footer{
    width:100%;
    
}
header{
    height:100px;
}
main{
    height: 600px;
}
 section{

    height: fit-content;
}
.galary{
    border: 2px solid yellow;
    height: 550px;
}
footer{
    height: fit-content;
   
}
